

/* quicksand font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* raleway font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", serif;
    font-weight: 400;
}

/* shared styles */

.text-bold {
    font-weight: 700;
}

.text-semibold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}


.text-orange {
    color: #FEA301;
}

.text-sky {
    color: #01ACFD;
}

.text-pink {
    color: #05D4DF;
}

.text-blue {
    color: #5D58EF;
}

.display-flex {
    display: flex;
}

.logo, .nav-links {
    align-items: center;
}




/* navbar styles */



.navbar {
    max-width: 1440px;
    margin: 20px auto;
    justify-content: space-between;
}

.logo-img {
    width: 100%;
}

.logo, .nav-links {
    align-items: center;
}

.school-name {
    font-size: 2rem;
    color: #000;
    margin-left: 11px;
}


.nav-items {
    list-style: none;
    margin-right: 42px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.contact-btn {
    padding: 10px 60px;
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 1.25rem;
    font-family: "Quicksand", serif;
}


.toggle-bar {
    transform: rotate(90deg);
    display: none;
  }

.top-line, .middle-line, .bottom-line {
    padding: 1px;
    background-color: #000;
    border-radius: 5px;
    margin-right: 4px;
}

/* banner section styles */

.banner {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
}

.banner-img {
    width: 100%;
}

.banner-content {
    max-width: 640px;
    margin: 130px 0;
}

.banner-title {
    font-size: 3.5rem;
    line-height: 61px;
}

.banner-description {
    font-size: 1.25rem;
    margin: 24px 0;
}

.banner-content .contact-btn {
    background-color: #000;
}

/* standard curriculum styles */

.bg {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.curriculum {
    max-width: 1440px;
    margin: 60px auto;
}

.curriculum-title {
    text-align: center;
    font-size: 2.88rem;
}

.curriculum-cards-container {
    margin: 80px 0;
    gap: 28px;
    justify-content: center;
}

.single-card {
    text-align: center;
    width: 100%;
    height: 476px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.01);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);   
}

.middle {
    border: 0.94px solid rgb(217, 235, 238);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.01);
    background: linear-gradient(180.00deg, rgb(222, 255, 224),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255); 
}

.middle .read-more-btn {
    color: #F0AA00;
}
.right {
    border: 0.94px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.01);
    background: linear-gradient(180.00deg, rgba(29, 108, 212, 0.336),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.right .read-more-btn {
    color: #8700FF;
}

.single-card img {
    margin-top: 52px;
}

.card-title {
    font-size: 1.5rem;
    margin: 33px 0;
}

.card-description {
    font-size: 0.94rem;
    font-family: "Raleway", serif;
    line-height: 28.3px;
    margin-bottom: 33px;
    color: #808080;
    padding: 0 41px;
}

a.read-more-btn {
    text-decoration: none;
    color: #64C8FF;
    margin-bottom: 53px;
}

.prev-next-icon {
    text-align: center;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FEA301;
    font-size: 24px;
    line-height: 58px;
    color: #fff;
    margin-left: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

  .circle:hover {
    background-color: #CE9227;
  }


/* Responsive media query */

@media screen and (max-width: 576px) {

  .navbar {
    justify-content: space-between;
    border-bottom: 1px solid #FEA301;
  }

  .logo img {
    margin-bottom: 10px;
    margin-left: 8px
  }
  .school-name, .nav-links, .contact-btn {
    display: none;
  }
  
  .toggle-bar {
    display: block;
    margin-top: 12px;
    margin-right: 40px;
  }

  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .banner img {
    align-items: center;
    margin-left: 5%;
    width: 90%;
    margin-bottom: -94px;
  }

  .banner-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
  }

  .banner-description {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 20px;
  }

  .banner-content .contact-btn {
    display: inline;
    font-size: 1rem;
  }
}

