

/* quicksand font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* raleway font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", serif;
    font-weight: 400;
}

/* shared styles */

.text-bold {
    font-weight: 700;
}

.text-semibold {
    font-weight: 600;
}

.text-medium {
    font-weight: 500;
}


.text-orange {
    color: #FEA301;
}

.text-sky {
    color: #01ACFD;
}

.text-pink {
    color: #05D4DF;
}

.text-blue {
    color: #5D58EF;
}

.text-white {
  color: #fff;
}

.display-flex {
    display: flex;
}

.logo, .nav-links {
    align-items: center;
}




/* navbar styles */

.notice {
  background-color: #01ACFD;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
}



.navbar {
    max-width: 1160px;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 100%;
}

.logo, .nav-links {
    align-items: center;
}

.school-name {
    font-size: 2rem;
    color: #000;
    margin-left: 11px;
}


.nav-items {
    list-style: none;
    margin-right: 42px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.contact-btn {
    padding: 10px 60px;
    background-color: #FEA301;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 1.25rem;
    font-family: "Quicksand", serif;
    cursor: pointer;
}


.toggle-bar {
    transform: rotate(90deg);
    display: none;
  }

.top-line, .middle-line, .bottom-line {
    padding: 1px;
    background-color: #000;
    border-radius: 5px;
    margin-right: 4px;
}

/* banner section styles */

.banner {
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}

.banner-img {
    width: 100%;
}

.banner-content {
    max-width: 640px;
    margin: 130px 0;
}

.banner-title {
    font-size: 3.5rem;
    line-height: 61px;
}

.banner-description {
    font-size: 1.25rem;
    margin: 24px 0;
}

.banner-content .contact-btn {
    background-color: #000;
}

/* standard curriculum styles */

.bg {
  background: url(../images/bg.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}


.curriculum, .our-stories {
    max-width: 1160px;
    margin: 60px auto;
}

.curriculum-title, .stories-title{
    text-align: center;
    font-size: 2.88rem;
}

.curriculum-cards-container {
    margin: 80px 0;
    gap: 28px;
    justify-content: center;
}

.single-card {
    text-align: center;
    width: 100%;
    height: 476px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.01);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);   
}


.middle {
    border: 0.94px solid rgb(217, 235, 238);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.01);
    background: linear-gradient(180.00deg, rgb(222, 255, 224),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255); 
}

.middle .read-more-btn {
    color: #F0AA00;
}
.right {
    border: 0.94px solid rgb(222, 245, 255);
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.01);
    background: linear-gradient(180.00deg, rgba(29, 108, 212, 0.336),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.right .read-more-btn {
    color: #8700FF;
}

.single-card img {
    margin-top: 52px;
}

.middle img, .right img {
  margin-top: 64px;
}

.card-title {
    font-size: 1.5rem;
    margin: 33px 0;
}

.card-description {
    font-size: 0.94rem;
    font-family: "Raleway", serif;
    line-height: 28.3px;
    margin-bottom: 33px;
    color: #808080;
    padding: 0 41px;
}

a.read-more-btn {
    text-decoration: none;
    color: #64C8FF;
    margin-bottom: 53px;
}

.prev-next-icon {  
  justify-content: center;
  text-align: center;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FEA301;
    font-size: 24px;
    line-height: 58px;
    color: #fff;
    margin-left: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

  .circle:hover {
    background-color: #CE9227;
  }

  /* our stories styles */



  main{
    background: linear-gradient(0.00deg, rgba(254, 161, 1, 0.171),rgba(255, 255, 255, 0.3) 100%);
  }

  .our-stories {
    background: url(../images/bg.png);
    background-size: contain;
    
  }

  .our-stories {
    margin-top: 120px;
    margin-bottom: 0;

  }

  .stories-content img {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }

  .stories-gallery-container {
    padding-top: 80px;
    gap: 19px;
    justify-content: space-between;
  }

  .stories-content {
    max-width: 540px;
    background-color: #fff;
    border-radius: 16px;
  }

  .stories-date {
    padding: 14px 18px;
    background-color: #3CD8E8;
    position: relative;
    bottom: 28px;
    left: 38px;
    width: 32%;
    border-radius: 48px;
  }

  .date {
    font-size: 0.96rem;
    color: #fff;
    font-family: "Raleway", serif;
    
  }

  .content-title {
    font-size: 1.5rem;
    color: #000;
    max-width: 402px;
    margin-left: 38px;
    margin-top: 33px;
    margin-bottom: 47px;
  }

  .stories-description {
    font-size: 0.96rem;
    color: #666666;
    padding-left: 38px;
    padding-right: 68px;
    line-height: 28.8px;
    padding-bottom: 34px;
    font-family: "Raleway", serif;
  }

  .small-stories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
  }

  .single-stories:nth-child(3), .single-stories:nth-child(4) {
    display: none;
  }

  .single-stories {
    width: 290px;
    background-color: #fff;
    border-radius: 16px;
  }

  .single-stories img {
    width: 100%;
    border-radius: 16px 16px 0 0;
  }

  .single-stories .date {
    padding: 9px 18px;
    background-color: #95B226;
    width: 61%;
    font-size: 0.95rem;
    position: relative;
    left: 38px;
    bottom: 25px;
    border-radius: 47px;
  }

  .single-stories .small-width {
    width: 44%;
  }
  .single-stories .sky {
    background-color: #5D58F0;
  }

  .small-title {
    padding: 0px 38px 28px 38px;
    line-height: 28.8px;
    font-size: 0.95rem;
  }

  .view-btn {
    justify-content: center;
    align-items: center;
  }

  .our-stories .contact-btn {
    text-align: center;
    background-color: #000;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  /* footer section styles */

  .footer {
    background: #01ACFD;
  }

  .footer-container {
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .footer-container .school-info {
    padding-top: 123px;
  }

  .school-info .school-name {
    font-size: 2.63rem;
    color: #fff;
  }

  .school-description {
    max-width: 399px;
    font-size: 1.25rem;
    color: #fff;
    padding-top: 35px;
    padding-bottom: 179px;
  }

  .about-school {
    font-size: 1.5rem;
    color: #fff;
  }


  .about, .icons {
    padding-top: 123px;
  }

  .about .nav-items {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about .nav-items:nth-child(1) {
    margin-top: 32px;
  }

  .keep {
    font-size: 1.63rem;
  }

  .icons img {
    margin-top: 20px;
    margin-right: 10px;
  }
  
  


/* Responsive media query */

@media screen and (max-width: 576px) {

  .notice {
    font-size: 0.85rem;
  }

  .navbar {
    justify-content: space-between;
    border-bottom: 1px solid #FEA301;
  }

  .logo img {
    margin-bottom: 10px;
    margin-left: 8px
  }
  .school-name, .nav-links, .contact-btn {
    display: none;
  }
  
  .toggle-bar {
    display: block;
    margin-top: 12px;
    margin-right: 26px;
  }

  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }

  .banner-content {
    padding: 0 7px;
  }

  .banner img {
    align-items: center;
    margin-left: 5%;
    width: 90%;
    margin-bottom: -94px;
  }

  .banner-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
  }

  .banner-description {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 20px;
  }

  .banner-content .contact-btn {
    display: inline;
    font-size: 1rem;
  }

  .curriculum {
    margin-top: -60px;
  }

  .bg {
    background-position: top;
  }

  .curriculum-title {
    font-size: 1.63rem;
    margin-bottom: 10px;
  }

  

  .single-card {
    width: 90%;
    margin-left: 5%;
    height: 321px;
  }

  .single-card img {
    margin-top: 22px;
    width: 33%;
}

  .card-title {
    font-size: 1rem;
    margin: 22px 0;
  }

  .card-description, .read-more-btn {
    font-size: 0.64rem;
    line-height: 19.2px;
    margin-bottom: 22px;
  }

  .curriculum-cards-container {
    flex-direction: column;
    margin-top: 20px;
  }

  .prev-next-icon {
    display: none;
  }

  .stories-title {
    font-size: 1.63rem;
    margin-top: -76px;
    margin-bottom: -48px;
  } 

  .stories-content {
    display: none;
  }

  .small-stories {
    grid-template-columns: repeat(2, 1fr);
    gap: 11px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .single-stories {
    width: 100%;

  }

  .single-stories:nth-child(3), .single-stories:nth-child(4) {
    display: block;
  }

  .small-stories .date, .small-stories .small-title {
    font-size: 0.57rem;
  }

  .single-stories .date {
    width: 69%;
    margin-left: -22px;
    margin-top: 5px;
  }

  .single-stories .small-width {
    width: 52%;
  }

  .small-stories {
    margin-bottom: 100px;
  }

  .small-title {
    padding: 0 25px;
    margin-top: -16px;
    line-height: 20px;
    margin-bottom: 16px;
  }

  .our-stories .contact-btn {
    display: block;
    font-size: 1rem;
    margin-top: -92px;
    margin-bottom: 20px;
  }

  .footer-container {
    flex-direction: column;
  }

  .school-info .school-name {
    display: block;
    font-size: 2.2rem;
  }

  .school-description {
    font-size: 1rem;
    margin-left: 21px;
    margin-right: 21px;
    padding-right: 12px;
    margin-top: -24px;
  }

  .about {
    padding-left: 20px;
    margin-top: -260px;
  }

  .about-school {
    font-size: 1.25rem;
  }

  .icons {
    padding-left:20px;
    margin-top: -110px;
    margin-bottom: 55px;
  }

  .about .nav-links {
    display: block;
  }

  .about .nav-link {
    font-size: 1rem;
  }

  .about .nav-items:nth-child(1) {
    margin-top: 22px;
  }

  .footer-container .school-info {
    padding-top: 70px;
  }

  .keep {
    font-size: 1.4rem;
  }

  .icons img {
    width: 8%;
  }

}

